spring:
  config:
    activate:
      on-profile: real
---
spring:
  config:
    activate:
      on-profile: dev
  devtools:
    restart:
      enabled: true
  datasource:
    driver-class-name: ${DB_DRIVER_CLASS_NAME}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
mybatis:
  mapper-locations: classpath*:com/isanghaessi/individualmultiplekakao/**/mapper/*.xml
---
server:
  address: 0.0.0.0
  port: ${PORT}
