upstream was-upstream {
  server was:${WAS_PORT};
}

upstream client-upstream {
  server client:${CLIENT_PORT};
}

server {
  server_name ${DOMAIN};
  listen ${PORT};

  location / {
    proxy_pass http://client-upstream;

    proxy_set_header Upgrade %http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host %host;
  }

  location /api {
    proxy_pass http://was-upstream;
  }
}